@font-face {
	font-family: 'Bebas Neue Cyrillic';
	src: url('bebas_neue_cyrillic.eot'); /* IE 9 Compatibility Mode */
	src: url('bebas_neue_cyrillic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('bebas_neue_cyrillic.woff2') format('woff2'), /* Super Modern Browsers */
		url('bebas_neue_cyrillic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('bebas_neue_cyrillic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('bebas_neue_cyrillic.svg#bebas_neue_cyrillic') format('svg'); /* Chrome < 4, Legacy iOS */
}

.font-bebas {
    font-family: 'Bebas Neue Cyrillic', serif;
}
